[[extend 'layout.html']]

<title>Grade Calculator</title>

<style>
    .auth-container {
        max-width: 80%;
        min-width: 400px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 20px;
    }
    
    a.button {
        margin-left: 10px;
    }
</style>

<div id="vue-target">

    <div class="columns mx-2">
        <div class="column mt-6 is-half">
            <h1 class="title">Grade Calculator</h1>
            <div class="select mb-4">
                <select class="input" @change="selectCourse($event)">
                <option value="">Choose a Course</option>
                <option v-for="course in courses" :value="course.id">{{course.name}}</option>
                </select>
            </div>
            <p>Grade Calculator: Calculates course grade using percentages</p>
            <div class="field">
                <div class="table-container">
                    <table id="grade-table" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">Category<br>(Optional)</th>
                                <th class="has-text-centered">Grade (%)</th>
                                <th class="has-text-centered">Weight (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="category in grade_categories">
                                <td><input type="text" :placeholder="category.placeholder" class="input" v-model="category.category_name" autofocus></td>
                                <td class="is-hidden-touch"><input type="number" min="0" step="any" class="input" v-model="category.grade"></td>
                                <td><input type="number" min="0" step="any" class="input" v-model="category.weight"></td>
                                <td>
                                    <button class="button is-danger" @click="deleteRow(category)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="field mt-5">
                <button id="add-row-button" class="button is-link is-fullwidth" @click="addRow">Add Row</button>
            </div>

            <div class="field">
                <div class="buttons">
                    <button type="button" title="Calculate" class="button is-success" @click="saveGradeCategories">Save</button>
                </div>
            </div>

            <div class="field">
                <label class="label">Average Grade</label>
                <div class="field has-addons">
                    <div class="control">
                        <input type="text" placeholder="Percentage" min="0" step="any" class="input" v-model="average_grade" readonly>
                    </div>
                    <div class="control">
                        <span class="button is-static">%</span>
                    </div>
                    <div class="control pl-4">
                        <div class="select">
                            <select class="input" v-model="grade">
                            <option>A+</option>
                            <option>A</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B</option>
                            <option>B-</option>
                            <option>C+</option>
                            <option>C</option>
                            <option>C-</option>
                            <option>D+</option>
                            <option>D</option>
                            <option>D-</option>
                            <option>F</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="buttons">
                    <button type="button" title="Calculate" class="button is-info" @click="submitGrade">Submit Grade</button>
                </div>
            </div>
        </div>


        <div class="column is-right">
            <h1 class="title mt-6">GPA Calculator</h1>
            <p>GPA Calculator: Calculates GPA from letter grades and credit points</p>
            <form class="calc" autocomplete="off">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <tbody>
                        <tr>
                            <th class="has-text-centered">Course</th>
                            <th class="has-text-centered">Grade</th>
                            <th class="has-text-centered">Credits</th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr v-for="course in courses">
                            <td><input type="text" class="input" placeholder="Course #1" readonly v-model="course.name"></td>
                            <td><input type="text" min="0" step="any" class="input" readonly v-model="course.final_grade"></td>
                            <td><input type="text" min="0" step="any" class="input" readonly v-model="course.credits"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="field">
                    <label class="label">GPA</label>
                    <input type="text" readonly class="input is-large" v-model="gpa">
                </div>

                <div class="field">
                    <div class="red small mb-3"></div>
                </div>

                <div class="field">
                    <label class="label">Total Credits/Hours</label>
                    <input type="text" class="input" readonly v-model="total_credits">
                </div>
            </form>

        </div>
    </div>

</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script src="js/calculator.js"></script>
<script src='https://cdn.jsdelivr.net/npm/vue2-timeago@1.2.3/dist/vue2-timeago.js'></script>
[[end]]