[[extend "layout.html"]]




<div class="section is-half"" id="vue-target" v-cloak>

<section class="section">
    <div class="container">
        <h1 class="title">Course Search</h1>
        <div id="app">
        <div class="field">
            <label class="label">Search:</label>
            <div class="control">
            <input class="input" type="text" v-model="searchText" placeholder="Enter search text">
            </div>
        </div>
        <div class="field">
            <label class="label">Offering:</label>
            <div class="control">
            <div class="select is-multiple">
                <select multiple v-model="selectedOfferings">
                <option v-for="offering in offerings" :value="offering">{{ offering }}</option>
                </select>
            </div>
            </div>
        </div>
        <button class="button is-primary" @click="searchCourses">Search</button>
        <div class="content">
            <h2 class="title is-4">Search Results:</h2>
            <ul>
            <li v-for="course in searchResults">
                <strong>{{ course.name }}</strong> ({{ course.abbreviation }})<br>
                {{ course.description }}
            </li>
            </ul>
        </div>
        </div>
    </div>
    </section>

    
</div>