[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }

    .subheader {
        margin-top: 10px;
        font-size: 13px;
    }

    .subheader a {
        text-decoration: underline;

    }

    .hide,
    .hidden {
        display: none;
    }
</style>


<div class="section" id="vue-target" v-cloak>

    <div class="columns">

        <div class="column" hidden>
            <section class="section">
                <div class="container">
                    <h2 id="planner_name" class="subtitle">
                        [[=curr_user.first_name]] [[=curr_user.last_name]]'s Planner
                        <a class="button is-primary" @click="share_courses()">
                            <span>Share</span>
                        </a>
                    </h2>
                    <h2 id="no_table">
                        Add a course to your planner. You can add a course by going to the course search page.
                    </h2>
                    <!-- Current courses list goes here -->
                    <div id="table">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <th></th>
                                <th>Fall</th>
                                <th>Winter</th>
                                <th>Spring</th>
                                <th>Summer</th>
                            </thead>
                            <tbody id="planner_body">
                            </tbody>
                        </table>
                        <a id="add_year_btn" class="button is-primary" @click="add_year()">
                            <span>Add year</span>
                        </a>
                        <a id="delete_year_btn" class="button is-primary" @click="delete_year()">
                            <span>Delete Year</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div style="display:none">
            <table id="year_template">
                <tr>
                    <td class="has-text-weight-bold"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>


        <div class="column is-one-third has-background-light hide">
            <section class="section" hidden>
                <div class="container">
                    <h2 class="subtitle">Courses</h2>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="Search for previous courses">
                        </div>
                        <div class="control">
                            <button class="button is-primary">Search</button>
                        </div>
                    </div>

                    <table class="table is-striped is-fullwidth">
                        <tbody>
                            <tr v-for="course in courses" :key="course.id">
                                <td>
                                    <div class="field has-addons">
                                        <div class="level-right">
                                            <label class="checkbox mr-6">
                                                <input type="checkbox" v-model="selectedCourses" :id="course.name"
                                                    :value="course.id">
                                                {{course.name}}
                                            </label>
                                            <!-- Update the Edit button anchor tag -->
                                            <form method="POST" action="[[=URL('edit_course')]]">
                                                <input type="hidden" name="course_id" :value="course.id">
                                                <input type="hidden" name="name" :value="course.name">
                                                <input type="hidden" name="number" :value="course.number">
                                                <input type="hidden" name="credits" :value="course.credits">
                                                <input type="hidden" name="offering" :value="course.offering">
                                                <input type="hidden" name="year" :value="course.year">
                                                <button type="submit" class="button is-light">
                                                    <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
                                                    <span>Edit</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="button is-success clickable" @click="addcourses()">
                        <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
                        <span>Add Course</span>
                    </a>
                    <a class="button is-info" href='[[=URL("course/create")]]'>
                        <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
                        <span>Create Course</span>
                    </a>

                    <a class="button is-warning" @click="deleteMode=!deleteMode">
                        <span class="icon">
              <i class="fa fa-exclamation-triangle"></i>
            </span>
                        <span>Delete Courses</span>
                    </a>
                    <div v-if="deleteMode">
                        <div class="field has-addons" v-for="course in courses">
                            <div class="field has-addons" v-for="ct in courses_taken">
                                <div v-if="ct.course_id==course.id">
                                    <div class="level-right">
                                        <label class="checkbox">
                      <input type="checkbox"  v-model="selectedDelete" :id="course.name" :value="course.id">
                        {{course.name}}
                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="button is-danger" @click="deleteMode=!deleteMode; deleteCourses()">
                            <span class="icon">
                <i class="fa fa-times-circle"></i>
              </span>
                            <span>Delete Selected Courses</span>
                        </a>
                    </div>


            </section>

            </div>




    </div>
</div>
[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let add_course_url = "[[=XML(add_course_url)]]";
    let delete_course_url = "[[=XML(delete_course_url)]]";
    let edit_course_url = "[[=XML(edit_course_url)]]";
    let share_courses_url = "[[=XML(share_courses_url)]]";
</script>
<script src="js/index.js"></script>
<script src='https://cdn.jsdelivr.net/npm/vue2-timeago@1.2.3/dist/vue2-timeago.js'></script>
[[end]]