[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->

  
  
  <div class="columns">
    <div class="column">
      <div v-if="intro_mode==0">
        <h1 class="title">
          View a Peer's Planner
        </h1>
        <h2 class="subtitle">
          Users and their major is shown on the right. To get started, click on a user to view their planner!<br><br>
          You can search by user or by major by clicking on the corresponding buttons on the right and type your query in the search bar!
        </h2>
      </div>
      <div v-else>
        <table id="table" class="table is-striped is-fullwidth">
          <thead>
              <th></th>
              <th>Fall</th>
              <th>Winter</th>
              <th>Spring</th>
              <th>Summer</th>
          </thead>
          <tbody id="planner_body">
              <tr id="first_year">
                  <td class="has-text-weight-bold">1st Year</td>
                      <td style="white-space: pre;">{{year1[0]}}</td>
                      <td style="white-space: pre;">{{year1[1]}}</td>
                      <td style="white-space: pre;">{{year1[2]}}</td>
                      <td style="white-space: pre;">{{year1[3]}}</td>
                  <tr id="second_year">
                      <td class="has-text-weight-bold">2nd Year</td>
                      <td style="white-space: pre;">{{year2[0]}}</td>
                      <td style="white-space: pre;">{{year2[1]}}</td>
                      <td style="white-space: pre;">{{year2[2]}}</td>
                      <td style="white-space: pre;">{{year2[3]}}</td>
                  </tr>
                  <tr id="third_year">
                      <td class="has-text-weight-bold">3rd Year</td>
                      <td style="white-space: pre;">{{year3[0]}}</td>
                      <td style="white-space: pre;">{{year3[1]}}</td>
                      <td style="white-space: pre;">{{year3[2]}}</td>
                      <td style="white-space: pre;">{{year3[3]}}</td>
                  </tr>
                  <tr id="fourth_year">
                      <td class="has-text-weight-bold">4th Year</td>
                      <td style="white-space: pre;">{{year4[0]}}</td>
                      <td style="white-space: pre;">{{year4[1]}}</td>
                      <td style="white-space: pre;">{{year4[2]}}</td>
                      <td style="white-space: pre;">{{year4[3]}}</td>
                  </tr>
          </tbody>
        </table>
      </div>
        
    </div>

    <div class="column is-one-third has-background-light">
      
      <div v-if="selected_mode == 0">
        <button @click="selected_mode = 0; search()" class="button is-link">Search by User</button>
        <button @click="selected_mode = 1; search()" class="button">Search by Major</button>
      </div>
      <div v-else>
        <button @click="selected_mode = 0; search()" class="button">Search by User</button>
        <button @click="selected_mode = 1; search()" class="button is-link">Search by Major</button>
      </div>

      <div class="field mt-3">
        <p class="control has-icons-right">
          <input class="input" type="text" v-model="query" @keyup="search" placeholder="Search">
          <span class="icon is-small is-right clickable" @click="query=&quot;&quot;">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>
      
      <div v-if="query.length>0">
        <div v-for="u in searched">
          <div class="field has-addons mb-3">
            <div v-if="u.user_id == selected_id">
              <p class="control">
                <button @click="getPlanners(u.user_id); selected_id=u.user_id; intro_mode=1;" class="button is-success">
                <span>{{u.name}}: {{u.major}}</span>
                </button>
              </p>
            </div>
            <div v-else>
              <p class="control">
                <button @click="getPlanners(u.user_id); selected_id=u.user_id; intro_mode=1;" class="button">
                <span>{{u.name}}: {{u.major}}</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div v-for="u in users">
          <div class="field has-addons mb-3">
            <div v-if="u.user_id == selected_id">
              <p class="control">
                <button @click="getPlanners(u.user_id); selected_id=u.user_id; intro_mode=1;" class="button is-success">
                <span>{{u.name}}: {{u.major}}</span>
                </button>
              </p>
            </div>
            <div v-else>
              <p class="control">
                <button @click="getPlanners(u.user_id); selected_id=u.user_id; intro_mode=1;" class="button">
                <span>{{u.name}}: {{u.major}}</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_planners_url = "[[=XML(get_planners_url)]]";
  let get_shared_users_url = "[[=XML(get_shared_users_url)]]"
</script>
<script src="js/share.js"></script>
[[end]]